{% extends 'main.html' %}

{% block content %}
<h1> Заказы клиентов </h1>

<table>
    <tr>
        <th>ID заказа</th>
        <th>Дата создания</th>
        <th>Описание</th>
        <th>стоимость заказа</th>
        <th>Заказчик</th>
        <th>Просмотр</th>
        <th>Редактирование</th>
        <th>Удаление</th>
    </tr>
    {% for order in orders%}
    <tr>
        <td>{{order.id}}</td>
        <td>{{order.created}}</td>
        <td>{{order.description}}</td>
        <td>{{order.amount}}</td>
        <td>{{order.customer}}</td>
        <td><a href = "{% url 'single-order' order.id %}">View</a></td>
        <td><a href = "{% url 'update-order' order.id %}">Edit</a></td>
        <td><a href = "{% url 'delete-order' order.id %}">Delete</a></td>
    </tr>
    {% endfor %}

</table>

<p></p>
<a href = "{% url 'open-orders' %}">Понедельная группировка заказов</a>

{% endblock content %}